<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <--hero Section->
    <section class="hero">
        <div class="hero-content">
            <h1>
                Welcome to <span>Employee Management System</span>
            </h1>
            <p>
                A simple and efficient platform to manage employee 
                information, view employee records and keep everything
                organized in one place. 
            </p>
            <a href="/employees" class="btn view-btn">
                View Employees
            </a>
            <a href="/addemployee" class="btn add-btn">
                Add Employee
            </a>
        </div>
    </section>

    <!--About Section-->
    <section class="about">
        <h2>Manage Your Employee Easily</h2
            <p>
                Our Employee Management System helps you store and manage
                employee details such as name,department,email.you can Easily
                 add new employee and view existing employee information 
            </p>>
    </section>
    
</body>
</html>